@font-face {
  font-family: "Londrina";
  src: url("./fonts/LondrinaSolid-Black.woff2") format("woff2"), url("./fonts/LondrinaSolid-Black.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition) {
  -moz-transition: $transition $animation-duration ease-in-out;
  -o-transition: $transition $animation-duration ease-in-out;
  -ms-transform: $transition $animation-duration ease-in-out;
  -webkit-transform: $transition $animation-duration ease-in-out;
  transition: $transition $animation-duration ease-in-out;
}

$animation-duration: 0.2s;

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >div {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
  @media screen and (max-width: 880px) {
    display: block;
  }
}

.noMobile {
  display: block;
  @media screen and (max-width: 880px) {
    display: none;
  }
}


$small: .65rem;
$initial: 16px;
$medium: 2.369rem;
$large: 2.369rem;
$larger: 5.209rem;
$xl: 7.61rem;

html {
  overflow-x: hidden;
  display: -webkit-box;
  box-sizing: border-box;
  font-size: $initial;
  font-family: "Work Sans", sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: #fff;
  color: #9ca3af;
  font-size: 15px;
  overflow-x: hidden;

}

h1,
h2,
h3 {
  font-family: "Londrina";
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: $xl;
  margin: 4rem 0;

  @media screen and (max-width: 880px) {
    margin: 3.125rem 0;
  }
}

h2 {
  font-size: $larger;
  margin: 3.125rem 0;
}

h3 {
  font-size: $medium;
  margin: 0.83em 0;
}

h4 {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.u {
  color: #8ec1de;
  text-decoration: underline;
  text-transform: uppercase;
}

.l {
  text-transform: lowercase;
}


a {
  text-decoration: none;
  color: #1a1b1f;
  @include transition(all);

  &:hover {
    color: #6DD0F7;
  }
}

p {
  line-height: calc(16px * 1.5);
  margin: 0 0 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

b {
  color: #333;
}

main {
  width: 100%;
  margin: 0 auto;
}

#mint {
  position: relative;
  background-color: #7bcce8;
  margin-bottom: 0;
  width: 100%;
  max-width: unset;
  background-image: url(https://uma.sebastien.wtf/img/bg.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    height: 100%;
    line-height: 3.75rem;
    padding: 0 1.5625rem;
    text-transform: uppercase;
    text-decoration: none;
    @include transition(all);

    font-family: "Londrina";
    font-weight: bold;
    color: #000;
    z-index: 1;
    font-size: $xl;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      @include transition(all);
    }

    img {
      position: absolute;
      height: 600px;
      width: 600px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      @include transition(all);
    }

    &:hover {
      span {
        @include transform(translate(-50%, -50%) scale(1.05, 1.05));
      }

      img {
        @include transform(translate(-50%, -50%) scale(1.1, 1.1));
      }

      // color: #fff;
      // background: #1a1b1f;
    }
  }
}

.aspiring {
  font-size: $large;
  text-align: center;
  font-family: "Londrina";
  font-weight: bold;
  color: #333;
  // position: absolute;
  bottom: 0;
  width: 100%;
  // left: -40px;
  h3 {
    display: block;
    width: 100%;
    margin: 3rem 0 1rem;
  }
}

section {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
}

section#props {
  padding-top: 6.25rem;
}

section.content,
.content {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px;
    grid-column-gap: 2rem;

    .col {
      position: relative;
      display: block;

      &:nth-child(1) {
        .colContent:before {
          background: linear-gradient(180deg, #47A9D0, hsla(0, 0%, 100%, 0));
        }
      }

      &:nth-child(2) {
        .colContent:before {
          background: linear-gradient(180deg, #47a9d0, hsla(0, 0%, 100%, 0));
        }
      }

      &:nth-child(3) {
        .colContent:before {
          background: linear-gradient(180deg, #47A9D0, hsla(0, 0%, 100%, 0));
        }
      }

      .colHero {
        position: relative;
        text-align: center;
        font-family: "Londrina";
        letter-spacing: .05rem;
        color: #1a1b1f;

        h3 {
          font-size: $larger;
          line-height: calc($larger * 1.5);
          margin: 0;
          white-space: nowrap;
          overflow: hidden;

          .s {
            font-size: $large;
            vertical-align: top;
          }
        }
      }

      .colContent {
        position: relative;
        text-align: center;
      }

      // line-height: 130%;
      // letter-spacing: -.04em;
      font-weight: 500;

      a {
        font-weight: 600;
      }
    }
  }

  .umaImgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 6.25rem;
    width: 100%;
    gap: 1rem;

    img {
      max-width: 100%;
      border-radius: 10px;

      @media screen and (max-width: 880px) {
        &:nth-child(7) {
          display: none;
        }

        &:nth-child(8) {
          display: none;
        }
      }
    }
  }
}



section.faq {
  padding-bottom: 6.25rem;
  background-color: #edf0f2;
  color: #707070;
  margin: 0;
  max-width: unset;

  .uma {
    display: flow-root;
    text-align: center;
    margin-top: 1rem;
    color: #000;

  }

  h1 {
    color: #333;
    text-align: center;

    &.forever {
      margin-bottom: 0;
    }
  }

  .content {
    max-width: 1280px;
    padding: 0 40px;
    display: block;
    margin: 0 auto;

    div {
      max-width: 840px;
      margin: 0 auto;
    }
  }

  .container {
    grid-template-columns: 1fr 1fr;

    .col:nth-child(2) {
      h3 {
        font-size: 2.369rem;
      }
    }
  }

  h2 {
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
    color: #000;
    margin-top: 6.25rem;
  }

  h3 {
    color: #333;
    margin-bottom: 1rem;
  }
}

footer {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 6.25rem 40px 40px;
  background: #47A9D0;
  color: #fff;

  ul {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 2rem;
      text-transform: uppercase;

      a {
        color: #fff;
        font-weight: 500;
        display: block;

        &:hover {
          @include transform(scale(1.1, 1.1));
          color: inherit;
        }
      }
    }
  }

  .noCopyright {
    font-size: 0.7rem;
  }
}

.spin {
  height: 8.5rem;

  h1 {
    height: 8.5rem;
    margin: 0;
  }
}

span.spin {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc($larger * 1.5);
  text-align: center;
  display: block;
}

span.item,
span.item-hu {
  position: absolute;
  transform-origin: 50% 70%;
  left: 0;
  text-transform: uppercase;
  width: 100%;
}


span.item:nth-child(1) {
  animation: flipUp 20s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0s both infinite;
}

span.item:nth-child(2) {
  animation: flipUp 20s cubic-bezier(0.68, -0.55, 0.26, 1.55) 4s both infinite;
}

span.item:nth-child(3) {
  animation: flipUp 20s cubic-bezier(0.68, -0.55, 0.26, 1.55) 8s both infinite;
}

span.item:nth-child(4) {
  animation: flipUp 20s cubic-bezier(0.68, -0.55, 0.26, 1.55) 12s both infinite;
}

span.item:nth-child(5) {
  animation: flipUp 20s cubic-bezier(0.68, -0.55, 0.26, 1.55) 16s both infinite;
}



span.item-hu:nth-child(1) {
  animation: flipUpHero 12s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0s both infinite;
}

span.item-hu:nth-child(2) {
  animation: flipUpHero 12s cubic-bezier(0.68, -0.55, 0.26, 1.55) 6s both infinite;
}


/* ANIMATION */

// @keyframes flipUp {
//   0% {
//     opacity: 0;
//     margin-top: -40px;
//   }
//   10%{
//     opacity: 1;
//     margin-top: 0;
//   }
//   30%,100% {
//     opacity: 0;
//     margin-top: 0;
//   }
// }

@keyframes flipUpHero {
  0% {
    opacity: 0;
    margin-top: -40px;
  }

  10% {
    opacity: 1;
    margin-top: 0;
    // transform: rotateX(0deg);
  }

  40% {
    opacity: 1;
    margin-top: 0;
  }

  70% {
    opacity: 0;
  }

  80%,
  100% {
    margin-top: 0;
  }

  90%,
  100% {
    opacity: 0;
  }
}



.parallax-wrap {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-wrap h2 {
  position: relative;
  font-size: 100px;
  color: white;
  z-index: 2;
  text-align: center;
}

.parallax-wrap span {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.parallax-wrap span:nth-child(1) {
  top: 70%;
  left: 70%;
  background: blue;
  z-index: 3;
}

.parallax-wrap span:nth-child(2) {
  top: 60%;
  left: 80%;
  background: yellow;
  z-index: 3;
}

.parallax-wrap span:nth-child(3) {
  top: 40%;
  left: 60%;
  background: green;
  z-index: 3;
}

.parallax-wrap span:nth-child(4) {
  top: 70%;
  left: 40%;
  background: red;
  z-index: 3;
}

.parallax-wrap span:nth-child(5) {
  top: 40%;
  left: 30%;
  background: purple;
  z-index: 3;
}

.mobile {
  display: none;
}

@media screen and (max-width: 880px) {

  .mobile {
    display: initial;
  }

  h1,
  #mint a {
    font-size: 90px;
  }

  h2 {
    font-size: 54px;
  }

  .colHero h3 {
    font-size: 54px !important;
    line-height: 90px !important;
  }

  .umaImgs {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-row-gap: 10px;

  }

  section,
  #mint {
    margin: 0 10px;
    padding: 0;
    width: calc(100% - 20px);
  }

  #mint {
    @include aspect-ratio(6, 5);
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;

    a {
      width: 100%;
    }

    a img {
      width: 90%;
      height: auto;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  #mint a:hover img {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }

  .aspiring {
    left: 0;
    h3 {
      font-size: $medium;
    }
  }

  section.content {
    margin-bottom: 3rem;

    .container {
      padding: 0;
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }
  }

  section.faq {
    width: 100%;
    padding: 0 10px 3rem;

    .content {
      padding: 0;

      h3 {
        font-size: $medium;
      }
    }

    .container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      padding: 0;
    }
  }

  footer {
    padding: 3rem 10px 40px;

    ul li {
      margin: 0 1rem;
    }
  }

}

.notFound {
  min-height: 100vh;
  position: relative;
  .ct {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
  h1 {
    font-size: 13.666rem;
    margin: 0;
  }
  .button {
    margin: 0 auto!important;
  }
}

@media screen and (max-width: 640px) {

  h1,
  #mint a {
    font-size: 54px;
  }
}




@import './header.scss';
@import './main.scss';
@import './footer.scss';

// utils

@import './rubbler.scss';